@model ConsumeGoogleAPI.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h3>@ViewData["Title"]</h3>

<div>
    <hr />
    <div>
        <img src="@Url.Content(Model.SmallImageLink)" alt="Image" />
    </div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN10)
        </dd>
    </dl>
</div>


